* {
    padding: 0px;
    margin: 0px;
}

body {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#background_cover {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.form-container {
    position: absolute;
    border: solid 0px;
    border-radius: 5px;
    height: 97.3%;
    top: 50%;
    left: 84.3%;
    transform: translate(-50%, -50%);
    width: 30%;
    background-color: #D9D9D9;
    padding: 10px;
}

.logo-container{
    display: block;
    width: 50px;
    margin: 0 auto;
}

#logo_container {
    position: absolute;
    width: 200px;
    height: 6;
    margin-left: -70px;
}

.header {
    margin-top: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header :nth-child(1) {
    font-size:x-large;
    font-weight: 900;
}

.header :nth-child(2) {
    margin-top: 30px;
    font-size: larger;
}

.pick-student {
    background-color: #8376C3;
    color: white;
    font-size: larger;
    font-weight: 600;
    margin-top: 18%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 0;
    border-radius: 6px;
}

.pick-faculty {
    background-color: #3db534;
    color: white;
    font-size: larger;
    font-weight: 600;
    margin-top: 7%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 0;
    border-radius: 6px;
}

.pick-student:hover {
    background-color: #645c8e;
    cursor: pointer;
}

.pick-faculty:hover {
    background-color: #30612c;
}

.main-content, table, #app {
    background: #fff;
    position: relative;
    z-index: 2;
}